In [2]:
datadir = "/home/ucsd-train13/scratch/projects/organoids/results/processed_files/"

In [1]:
import pandas as pd

In [9]:
tsne = pd.read_csv(datadir+"tsne_from_Seurat.csv", index_col=0)
print(tsne.shape)
tsne.head()

(5882, 2)

                       tSNE_1    tSNE_2
FBWT2_CAGGCATCTCCG  31.207150 -5.725025
FBWT2_TCACCAGTCTCG  30.859085 -6.512976
FBWT2_CCCGAGTCATAC  29.433782  2.847076
FBWT2_CGCTTACGTCTT  32.965939 -5.336755
FBWT2_TTCCATATAGCT  31.505211 -4.898120

In [10]:
clusters = pd.read_csv(datadir+"clusterassignment.csv", index_col=0)
print(clusters.shape)
clusters.head()

(5882, 1)

   x
1  5
2  5
3  5
4  5
5  5

In [12]:
clusters["x"]

1        5
2        5
3        5
4        5
5        5
6        8
7        8
8        5
9        8
10       5
11       4
12       8
13       5
14       5
15       8
16       5
17       5
18       5
19       4
20       5
21       5
22       5
23       5
24       5
25       5
26       5
27       5
28       8
29       4
30       5
        ..
5853     6
5854     9
5855     0
5856     0
5857     0
5858    12
5859    10
5860    14
5861     6
5862     9
5863     6
5864     6
5865     2
5866     0
5867     0
5868    10
5869    14
5870    12
5871    10
5872     0
5873     6
5874     2
5875     3
5876    11
5877    12
5878     2
5879     2
5880    10
5881     0
5882     6
Name: x, Length: 5882, dtype: int64

In [13]:
tsne["cluster"]=clusters["x"].values
print(tsne.shape)
tsne.head()

(5882, 3)

                       tSNE_1    tSNE_2  cluster
FBWT2_CAGGCATCTCCG  31.207150 -5.725025        5
FBWT2_TCACCAGTCTCG  30.859085 -6.512976        5
FBWT2_CCCGAGTCATAC  29.433782  2.847076        5
FBWT2_CGCTTACGTCTT  32.965939 -5.336755        5
FBWT2_TTCCATATAGCT  31.505211 -4.898120        5

In [14]:
temp = tsne.reset_index()
temp.head()

                index     tSNE_1    tSNE_2  cluster
0  FBWT2_CAGGCATCTCCG  31.207150 -5.725025        5
1  FBWT2_TCACCAGTCTCG  30.859085 -6.512976        5
2  FBWT2_CCCGAGTCATAC  29.433782  2.847076        5
3  FBWT2_CGCTTACGTCTT  32.965939 -5.336755        5
4  FBWT2_TTCCATATAGCT  31.505211 -4.898120        5

In [17]:
tsne["sample"] = temp["index"].apply(lambda x:x.split("_")[0]).values
print(tsne.shape)
tsne.head()

(5882, 4)

                       tSNE_1    tSNE_2  cluster sample
FBWT2_CAGGCATCTCCG  31.207150 -5.725025        5  FBWT2
FBWT2_TCACCAGTCTCG  30.859085 -6.512976        5  FBWT2
FBWT2_CCCGAGTCATAC  29.433782  2.847076        5  FBWT2
FBWT2_CGCTTACGTCTT  32.965939 -5.336755        5  FBWT2
FBWT2_TTCCATATAGCT  31.505211 -4.898120        5  FBWT2

In [18]:
tsne.to_csv(datadir+"tsne_from_Seurat.csv")